body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #0033cc, #66ccff);
  color: white;
  text-align: center;
}

button {
  background: #66ccff;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #4db8ff;
}

.container {
  margin-top: 20vh;
}

.message {
  background: #004080;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  text-align: left;
}
