<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Choisir une province</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1 class="title">Choisir une province</h1>

    <form method="POST" action="{{ url_for('choose_province') }}">
        <input type="hidden" name="username" value="{{ request.args.get('username', '') }}">

        <button type="submit" class="welcome-button">
            French Reborn
        </button>
    </form>
</div>

</body>
</html>
